header{
    display: flex;
    justify-content: space-around;
}

.headerTitle{
    font-family: PT serif;
    font-weight: 700;
    font-size: 2em;
}

.headerSubtitle{
    font-family: Poppins;
    font-weight: 600;
}

.headerText{
    font-family: Poppins;
    font-weight: 400;
}

.main{
    width: 80%;
    height: 890px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    margin-top: 30px;
    gap: 25px;
}

.mainOne,
.mainTwo,
.mainThree{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.mainTwo{
    position: relative;
    top: 90px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardImg{
    width: 240px;
    height: 340px;
    position: relative;
    left: 40px;
    box-shadow: -2px 2px 5px #555;
}

.cardName{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1em;
    width: max-content;
    position: relative;
    left: 40px;
}

.cardJob-1,
.cardJob-2,
.cardJob-3,
.cardJob-4,
.cardJob-5,
.cardJob-6{
    margin: 0px;
    font-family: PT serif;
    font-weight: 400;
    font-size: 0.8em;
    transform: rotate(90deg);
    height: 20px;
    width: 110px;
    position: relative;
    left: 230px;
    bottom: 330px;
}

footer{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

footer > p{
    font-family: Montserrat;
    color: grey;
}

.footerName{
    font-weight: bolder;
    color:grey;
}

.footerDevChallenge{
    font-weight:500;
    text-decoration: none;
    color: grey;
}