body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalInfo{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.personalInfo > h1{
    font-size: 2.3em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #333;
}

.contactInfo{
    display: flex;
    flex-direction: column;
}

.contactInfo > h2{
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
}

.contactInfo img,
.shippingAddress img{
    width: 30px;
    position: relative;
    bottom: 53px;
    left: 10px;
}

.contactInfo > label,
.shippingAddress > label,
.countries > label,
.postal > label{
    font-size: 0.9em;
    font-weight: 600;
    color: #333;
}

.contactInfo > input,
.shippingAddress > input{
    width: 85%;
    height: 50px;
    border: 1px solid #828282;
    border-radius: 12px;
    color: #828282;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 50px;
    opacity: 0.5;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countries > input,
.postal > input{
    width: 73%;
    height: 50px;
    border: 1px solid #828282;
    border-radius: 12px;
    color: #828282;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 50px;
    opacity: 0.5;
    letter-spacing: 1px;
    margin-top: 10px;
}

input[type=checkbox]{
    height: 20px;
    width: 20px;
}

.shippingAddress{
    display: flex;
    flex-direction: column;
}

.cityInfo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.countries,
.postal{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cityIcons{
    top: -43px;
}

.infoConfirm{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.check{
    display: flex;
    align-items: end;
    gap: 10px;
}

.check > label{
    font-weight: 600;
    color: #4f4f4f;
}

.check > input{
    cursor: pointer;
    transition: all 300ms;
}

.check > input:hover{
    box-shadow: 2px 2px 1px #333 inset;
}

input[type = submit]{
    width: 35%;
    height: 55%;
    border-radius: 12px;
    margin-right: 20px;
    background-color: #f2994a;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    border: 1px solid #f2994a;
    /* box-shadow: -2px 2px 5px #333; */
    cursor: pointer;
    transition: all 400ms;
}

input[type = submit]:hover{
    box-shadow: 2px 2px 3px #333 inset;
}

.purchaseInformation{
    box-shadow: -2px 2px 5px #999;
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 35%;
    position: relative;
    bottom: 105px;
    padding: 20px;
}

.itemsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item{
    display: flex;
    width: 100%;
    height: auto;
    gap: 10px;
}

.itemInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.priceContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.discountPrice{
    color: #f2994a;
    font-weight: 600;
}

.firstPrice{
    text-decoration: line-through;
}

.counter{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #828282;
    align-items: center;
    border-radius: 5px;
    width: 70%;
    height: 35px;
}

.item > img{
    border-radius: 15px;
    width: 50%;
    height: 50%;
}

.subtract,
.add{
    box-shadow: -1px 1px 2px #888;
    border: 1px solid #e0e0e0;
    background: #E0E0E0;
    border-radius: 5px;
    width: 20%;
    height: 63%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line{
    width: 100%;
    border: 1px solid #bdbdbd;
}

.finalInformationPurchase{
    margin-top: 125px;
}

.shippingCost,
.totalCost{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.shippingCost > p,
.totalCost > p{
    font-weight: 600;
}
