/* ANIMATIONS*/

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/*END ANIMATIONS*/

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    width: 100%;
}

.title > h1{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    color: #333;
    margin-left: 66px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    width: 90%;
}

.mainImgContainer{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
}

.mainImgContainer > img{
    width: 540px;
    height: 448px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 2s;
}

.subtitle{
    width: 586px;
    height: 190px;
}

.subtitle > h2{
    font-family: monospace;
    font-size: 5em;
    color: #333;
}

.info{
    width: 380px;
    height: 110px;
}

.info > p{
    font-family: monospace;
    font-size: 2em;
    font-weight: 400;
    color: #4f4f4f;
    line-height: 35px;
}

button{
    width: 215px;
    height: 68px;
    margin-top: 60px;
    font-size: 1.3em;
    font-family: monospace;
    font-weight: bold;
    transition: all 500ms;
}

button:hover{
    background-color: #333;
    color: white;
    cursor: pointer;
}

footer > p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.3em;
    color: #bdbdbd;
}

footer > p > a{
    color: #bdbdbd;
}

.a1{
    font-weight: 700;
    transition: all 500ms;
}

.a1:hover{
    color: #4f4f4f;
}

.a2{
    text-decoration: none;
    transition: all 500ms;
}

.a2:hover{
    color: #777;
}