/*Fonts*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?wk2dxv');
    src:  url('../fonts/icomoon.eot?wk2dxv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wk2dxv') format('truetype'),
        url('../fonts/icomoon.woff?wk2dxv') format('woff'),
        url('../fonts/icomoon.svg?wk2dxv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-menu{
    font-size: 2em;
}

/* Animations */
@keyframes blink_text{
    0%{
        color:#37bcf9;
    }
    25%{
        color:blueviolet;
    }
    50%{
        color:whitesmoke;
    }
    75%{
        color:gold;
    }
    100%{
        color:#37bcf9;
    }
}

.body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body::-webkit-scrollbar{
    width: 15px;
    background-color: white;
}

.body::-webkit-scrollbar-thumb{
    background-color: #222;
    border-radius: 10px;
    border: 2px solid white;
}

.bodyHeader{
    width: 95%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    top: 25px;
}

.headerButton{
    width: 105px;
    height: 32px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: 'Crimson Pro';
    font-size: 0.875em;
    cursor: pointer;
    transition: all 300ms;
}

.headerButton:hover{
    color: black;
    background-color: white;
}

.burger-button{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top:5px;
    color: white;
}

.menu{
    margin-right: 50px;
}

.menu >ul{
    display: flex;
    list-style: none;
    gap: 70px;
}

.menuHome{
    border-bottom: 2px solid #777;
    font-weight: 700;
    color: #777;
    transition: all 300ms;
}

.menuHome:hover{
    color: white;
    border-color: white;
}

.menu > ul > li > a{
    text-decoration: none;
    color: #777;
    font-family: Montserrat;
    font-size: 1.125em;
    transition: all 300ms;
}

.menu > ul > li > a:hover{
    color: white;
}

.main{
    width: 95%;
    height: 585px;
    margin: 0px;
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.mainText{
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainText > h1{
    font-family: Lora;
    font-size: 3em;
    font-weight: 500;
    color: white;
    margin-left: 30px;
}

.mainText > p{
    font-family: Montserrat;
    font-size: 1.5em;
    color: white;
    margin-left: 30px;
}

.mainTextAchor{
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    margin-left: 30px;
    width: 200px;
}

.mainTextAchor img{
    height: 30px;
    opacity: 0;
    transition: all 300ms;
}

.mainTextAchor:hover img{
    opacity: 1;
}

.mainImg{
    width: 55%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg > img{
    width: 90%;
    margin: 0px;
    z-index: 1;
}

.card{
    background-color: black;
    border:1px solid #222;
    width: 410px;
    height: 190px;
    z-index: 2;
    position: relative;
    bottom: 120px;
    left: 360px;
    color: white;
}

.cardContainer{
    display: flex;
    gap: 40px;
    margin-left: 45px;
    margin-top: 15px;
}

.cardContainer > img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.cardText > h3{
    font-size: 0.875em;
    font-family: Montserrat;
}

.cardCaption{
    font-family: Lora;
    font-size: 1.2em;
    margin-left: 45px;
    margin-top: 5px;
}

.cardText > h4{
    font-size: 0.75em;
    font-family: Montserrat;
}

.footer{
    position: relative;
    bottom: 25px;
}

.footer > p{
    font-size: 0.875em;
    font-family: Montserrat;
    font-weight: bold;
    color: #a9a9a9;
}

.footer a{
    color: #777;
    font-weight: bolder;
    font-size: 1.2em;
    animation: blink_text 5s infinite linear;
}

@media screen and (max-width:1024px) {
    .main{
        margin-top: 0px;
    }

    .card{
        left: 200px;
        bottom: 215px;
    }

    .cardContainer{
        gap: 60px;
        margin-left: 75px;
    }

    .cardCaption{
        margin-left: 80px;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    .mainText > h1{
        font-size: 2.9em;
    }

    .mainText > p {
        font-size: 1.4em;
    }

    .footer{
        bottom: 70px;
    }
}

@media screen and (max-width:768px) {
    .headerButton{
        width: 110px;
    }

    .menu > ul{
        gap: 30px;
    }

    .main{
        height: 480px;
    }

    .mainText > h1 {
        font-size: 2.1em;
    }

    .mainText > p {
        font-size: 1em;
    }

    .card {
        width: 300px;
        left: 154px;
        bottom: 200px;
        height: 170px;
    }

    .cardContainer > img {
        width: 75px;
        height: 75px;
    }

    .cardContainer {
        margin-left: 30px;
    }

    .cardCaption {
        margin-left: 30px;
    }

    .footer {
        bottom: 80px;
    }

}

@media screen and (max-width:425px) {
    .burger-button{
        display: block;
    }

    .menu{
        height: auto;
        background: rgba(5, 111, 255, 0.5);
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 3s;
    }

    .menu.is-active{
        left: 0;
    }
}