body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

body::-webkit-scrollbar{
    width: 15px;
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-color: #222;
    border-radius: 10px;
    border: 2px solid white;
}

.main{
    width: 75%;
}

.title > h1{
    font-family: Playfair Display;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.textHead{
    display: flex;
    gap: 10px;
}

.textHead img{
    position: relative;
    bottom: 15px;
}

.textHead p{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 0.85em;
    margin-top: 0px;
}

.imgHead{
    margin-top: 10px;
    margin-bottom: 20px;
}

.imgHead > img{
    width: 100%;
}

.mainInfoContainer{
    display: flex;
    gap: 130px;
}

.mainInfo{
    width: 59%;
}

.ingredientsTitle,
.instructionsTitle{
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 1.5em;
}

.ingredientsTitle{
    margin-top: 0px;
}

.instructionsTitle{
    margin-bottom: 0px;
}

.ingredientsSubtitle{
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 400;
    font-size: 1em;
}

.ingredientSection{
    display: flex;
    align-items: start;
    gap: 20px;
}

.ingredientSection > p{
    font-family: Montserrat;
    font-size: 0.9em;
    margin-top: 0px;
}

.instructions{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.instruction{
    display: flex;
    align-items: start;
    gap: 10px;
}

.instruction > p{
    margin-top: 0px;
    font-family: Montserrat;
    font-size: 1em;
}

.number{
    background-color: #F2994A;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    position: relative;
    bottom: 4px;
    right: 1px;
    margin: 18px;
}

.card{
    width: 22%;
    height: 367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.link > p{
    font-family: Montserrat;
    font-size: 1em;
    font-style: italic;
    color: #BDBDBD;
}

.link > p > a{
    font-family: Montserrat;
    font-size: 1em;
    font-style: italic;
    color: #BDBDBD;
}

.link > p > a:hover{
    color: #555;
}

.iconOne > img,
.iconTwo > img{
    width: 27px;
}

.cardInfoOne,
.cardInfoOneOrange{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.iconText,
.iconTextOne{
    width: 110px;
    display: flex;
    flex-direction: column;
}

.iconTextOne > h5{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 0.65em;
    color: #BDBDBD;
}

.iconTextOne > h4{
    margin-top: 5px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
    color: #F2994A;
}

.iconText > h5{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 0.65em;
    color: #BDBDBD;
}

.iconText > h4{
    margin-top: 5px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
    color: #333333;
}

footer > p{
    font-family: Montserrat;
    font-size: 1em;
    color: #828282;
    margin-top: 80px;
}

footer > p > a{
    color: #828282;
    text-decoration: none;
    font-weight: 700;
}

footer > p > a:hover{
    color: #333333;
}

@media screen and (max-width:1024px) {
    .textHead > p{
        margin-bottom: 0px;
    }
    .card {
        width: 35%;
        height: 320px;
    }
}

@media screen and (max-width:900px) {
    .card {
        width: 45%;
        height: 300px;
    }
}

@media screen and (max-width:870px) {
    .title > h1 {
        font-size: 2.5em;
    }

    .textHead > p{
        font-size: 0.8em;
    }

    .mainInfoContainer {
        gap: 70px;
    }
}

@media screen and (max-width:818px) {
    .textHead > p{
        font-size: 0.75em;
    }

    .card{
        height: 250px;
    }

    .iconText > h4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .ingredientText{
        width: 210%;
    }

    .instructions {
        width: 210%;
    }
}

@media screen and (max-width:771px) {
    .textHead > p{
        font-size: 0.7em;
    }

    .card {
        width: 55%;
        height: 300px;
    }

    .iconText,
    .iconTextOne {
        width: 95px;
    }

    .iconText > h4,
    .iconTextOne > h4{
        font-size: 0.85em;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: 55%;
        height: 300px;
    }
}

@media screen and (max-width:746px) {
    .link > p {
        font-size: 0.85em;
    }

    .ingredientsSubtitle{
        margin-top: 50px;
    }

    .ingredientSection > p {
        font-size: 0.8em;
    }
}

@media screen and (max-width:730px) {
    .title > h1 {
        font-size: 2.35em;
    }

    .textHead > p {
        font-size: 0.65em;
    }
}

@media screen and (max-width:677px) {
    .title > h1 {
        font-size: 2.25em;
    }

    .textHead > p {
        font-size: 0.63em;
    }
}

@media screen and (max-width:661px){
    .title > h1 {
        font-size: 2.05em;
    }

    .textHead > p {
        font-size: 0.6em;
        margin-top: 0px;
    }

    .ingredientSection > p {
        font-size: 0.78em;
    }

    .link > p {
        font-size: 0.75em;
    }
}

@media screen and (max-width:633px) {
    .textHead > p{
        font-size: 0.57em;
    }

    .ingredientSection > p {
        font-size: 0.68em;
    }
}

@media screen and (max-width:605px) {
    .title > h1 {
        font-size: 2em;
    }

    .textHead > p {
        font-size: 0.55em;
    }

}

@media screen and (max-width:591px) {
    .title > h1 {
        font-size: 1.85em;
    }

    .card {
        height: 250px;
    }

    .iconTextOne{
        margin-top: 15px;
    }

    .iconText,
    .iconTextOne{
        width: 60px;
        margin-bottom: 15px;
    }

    .iconText > h4,
    .iconTextOne > h4{
        font-size: 0.65em;
        margin-top: 0px;
    }

    .iconText > h5{
        margin-bottom: 0px;
    }

    .iconTextOne > h5 {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:583px){
    .textHead > p {
        font-size: 0.5em;
    }
}

@media screen and (max-width:567px) {
    .title > h1 {
        font-size: 1.75em;
    }

    .textHead > p {
        font-size: 0.49em;
    }

    .ingredientsSubtitle {
        margin-top: 20px;
        font-size: 0.9em;
    }

    .link > p {
        font-size: 0.7em;
    }
}

@media screen and (max-width:533px) {
    .textHead img {
        bottom: 10px;
    }

    .cardInfoOne,
    .cardInfoOneOrange{
        gap: 10px;
    }

    .iconOne > img{
        position: relative;
        top: 15px;
    }

    .iconOne > img,
    .iconTwo > img {
        width: 20px;
    }

    .link > p {
        font-size: 0.68em;
    }
}

@media screen and (max-width:521px) {
    .title > h1 {
        font-size: 1.7em;
    }

    .textHead img {
        bottom: 10px;
    }

}

@media screen and (max-width:517px){
    .title > h1 {
        font-size: 1.5em;
    }

    .mainInfoContainer {
        gap: 40px;
    }

    .card{
        width: 45%;
    }

    .link > p {
        font-size: 0.65em;
    }
}

@media screen and (max-width:496px) {
    .main{
        width: 80%;
    }

    .mainInfoContainer{
        flex-direction: column-reverse;
    }

    .number {
        width: 30px;
        height: 30px;
    }

    .number span {
        font-size: 1.2em;
    }

    .instruction > p {
        font-size: 0.85em;
    }

    .card {
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: none;
        width: 100%;
        height: 100px;
    }

    .cardInfoOneOrange{
        margin-right: 215px;
    }

    .cardInfoOne{
        margin-right: 10px;
    }

    .mainInfo {
        width: 100%;
    }

    .ingredientText {
        width: 100%;
    }

    .instructions {
        width: 100%;
    }

    .link > p {
        font-size: 0.62em;
    }
}

@media screen and (max-width:451px) {
    .title > h1 {
        font-size: 1.3em;
    }

    .textHead img {
        bottom: 15px;
    }

}

@media screen and (max-width:432px) {
    .textHead img {
        bottom: 10px;
    }

    .iconText > h4,
    .iconTextOne > h4 {
        font-size: 0.6em;
    }

    .cardInfoOneOrange {
        margin-right: 204px;
    }

    .iconText,
    .iconTextOne {
        width: 58px;
    }

    footer > p {
        font-size: 0.8em;
    }
}

@media screen and (max-width:425px) {
    .textHead img {
        bottom: 10px;
    }

    .cardInfoOne,
    .cardInfoOneOrange {
        gap: 7px;
    }
}

@media screen and (max-width:412px) {
    .textHead img {
        bottom: 14px;
    }

    .iconText > h5,
    .iconTextOne > h5{
        font-size: 0.58em;
    }

    .cardInfoOne,
    .cardInfoOneOrange {
        gap: 7px;
    }

    .iconText,
    .iconTextOne {
        width: 56px;
    }
}

@media screen and (max-width:382px) {
    .main{
        width: 85%;
    }
}

@media screen and (max-width:362px) {
    .main{
        width: 95%;
    }

    .textHead img {
        bottom: 10px;
    }
}

@media screen and (max-width:343px) {
    .textHead img {
        bottom: 14px;
    }
}

@media screen and (max-width:327px) {
    .main{
        width: 98%;
    }

    footer > p{
        font-size: 0.7em;
    }
}